<form [formGroup]="currForm"
  class="curr-form">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h2>Конвертер валют</h2>
      </div>
    </div>
    <div class="row"
      formGroupName="groupFrom">
      <div class="col-6">
        <input-select class="row input"
        formControlName="currencyFrom"
        [list]="currFilteredFrom"
        placeholder="Выберите из списка"
        label="Перевести"></input-select>
      </div>
      <div class="col-6">
        <lib-field class="input"
          formControlName="valueFrom"
          placeholder="1"
          mask="separator.2"
          maskThousand=" "
          label="Введите сумму"></lib-field>
        </div>
    </div>
    <div class="row"
      formGroupName="groupTo">
      <div class="col-6">
        <input-select class="row input"
          formControlName="currencyTo"
          [list]="currFilteredTo"
          placeholder="Выберите из списка"
          label="В валюту"></input-select>
      </div>
      <div class="col-6">
        <lib-field class="input"
          formControlName="valueTo"
          placeholder="1"
          mask="separator.2"
          maskThousand=" "
          label="Итого"
          [readonly]="true"></lib-field>
      </div>
    </div>
  </div>
</form>