<form [formGroup]="currForm"
  class="curr-form">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-7">
        <h2>Конвертер валют</h2>
      </div>
      <div class="col">
        <button (click)="addGroup()"
          class="curr-form__button">+</button>
        <button (click)="deleteGroup()"
          class="curr-form__button"
          [disabled]="currList.length < 2">-</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12"
        formArrayName="list">
        <div class="row curr-form__item"
          *ngFor="let item of currList.controls; let i = index">
          <div class="col"
            [formGroupName]="i">
            <div class="row">
              <ng-container formGroupName="groupFrom">
                <div class="col-6">
                  <input-select formControlName="currencyFrom"
                    [list]="currFilteredFrom"
                    placeholder="Выберите из списка"
                    label="Перевести"></input-select>
                </div>
                <div class="col-6">
                  <lib-field formControlName="valueFrom"
                    placeholder="1"
                    mask="separator.2"
                    maskThousand=" "
                    label="Введите сумму"></lib-field>
                </div>
              </ng-container>
              <ng-container formGroupName="groupTo">
                <div class="col-6">
                  <input-select formControlName="currencyTo"
                    [list]="currFilteredTo"
                    placeholder="Выберите из списка"
                    label="В валюту"></input-select>
                </div>
                <div class="col-6">
                  <lib-field formControlName="valueTo"
                    placeholder="1"
                    mask="separator.2"
                    maskThousand=" "
                    label="Итого"
                    [readonly]="true"></lib-field>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>