<form [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Сборник всех библиотек для демонстрации работы</h1>
      </div>
      <div class="col-12">
        <nz-collapse>
          <nz-collapse-panel [nzHeader]="'additional'">

          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'autocomplete'">
            <input-autocomplete class="input"
              placeholder="Иван"
              label="Имя"
              [reqLink]="'./assets/json/data-names.json'"></input-autocomplete>
              <p>
                Текстовое поле с возможностью ввода текста
                и выбора одного из предложенных вариантов.
                Работает транслитерация из английского в русский.
              </p>
            <input-autocomplete class="input"
              placeholder="ya@ya.ru"
              label="Электронная почта"
              lang="en"
              [reqLink]="'./assets/json/data-names.json'"></input-autocomplete>
              <p>
                Текстовое поле с возможностью ввода текста
                и выбора одного из предложенных вариантов.
                Работает транслитерация из русского в английский.
              </p>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'date-picker'">
            
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'field'">
            <lib-field class="input"
              placeholder="loginName"
              mask="S*"
              label="Ваша надпись"></lib-field>
            <p>Текстовое поле с возможностью ввода только латинских символов.</p>
            <lib-field class="input"
              placeholder="1000"
              mask="separator.2"
              maskThousand=" "
              label="Ваше число"></lib-field>
            <p>
              Текстовое поле с возможностью ввода только чисел. 
              Каждые 3 разряда разделяются пробелами.
              Можно вводить дробные числа через точку или запятую с 2-мя знаками после.
            </p>
            <lib-field class="input"
              placeholder="+7 (000) 000-00-00"
              mask="(000) 000-00-00"
              maskPrefix="+7"
              label="Номер телефона"></lib-field>
            <p>Текстовое поле для ввода номера телефона.</p>
            <lib-field class="input"
              formControlName="birthday"
              placeholder="11.11.1995"
              mask="00.00.0000"
              label="Дата рождения"></lib-field>
            <val-errors controlName="birthday">
              <ng-template valError="incorrectDate" let-error="error">{{error}}</ng-template>
            </val-errors>
            <p>
              Поле с вводом даты рождения. Максимально старый год - 1900.
              Принимается дата совершеннолетнего человека (от 18 лет).
            </p>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'password'">
            <input-password class="input"
              placeholder="123"
              label="Пароль"></input-password>
          </nz-collapse-panel>
          <nz-collapse-panel [nzHeader]="'select'">
            <input-select class="row input"
              placeholder="Выберите из списка"
              label="Список1"
              [list]="list1">
            </input-select>
            <p>
              Список с выбором одного из нескольких вариантов.
            </p>
            <input-select class="row input"
              formControlName="contact"
              formGroupName="contactAdd"
              placeholder="Выберите из списка"
              label="Список2"
              [list]="list2"
              [controlsGroup]="form.get('contactAdd')"
              [templateList]="[contact1, contact2]">
              <ng-container>
                <div class="col-12 d-none"
                  #contact1>
                  <lib-field class="input"
                    formControlName="phone"
                    placeholder="+7 (000) 000-00-00"
                    mask="(000) 000-00-00"
                    maskPrefix="+7"
                    label="Номер телефона"></lib-field>
                </div>
                <div class="col-12 d-none"
                  #contact2>
                  <lib-field class="input"
                    formControlName="vk"
                    placeholder="id123"
                    mask="A*"
                    label="Id во вконтакте"></lib-field>
                </div>
              </ng-container>
            </input-select>
            <p>
              Список с выбором одного простого варианта и 2-ух специальных,
              каждый из которых выводит дополнительное поле.
            </p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </div>
</form>