<div class="field">
  <div class="field__container field__container_arrow">
    <ng-content select="input"></ng-content>
    <ng-container *ngIf="isMultiple; else noSetting">
      <ui-select-tags></ui-select-tags>
    </ng-container>
    <ng-template #noSetting>
      <span class="field__title">{{listItem.label}}</span>
    </ng-template>
  </div>

  <ul class="field-list"
    [ngClass]="{'active': dropdown.activeFlag$ | async}">
    <ui-select-item class="field-list__item"
      *ngFor="let item of list$ | async"
      [value]="item.value"
      [label]="item.label"
      [isDisabled]="item.disabled"
      (onChangeItem)="changeItem($event)"></ui-select-item>
  </ul>
</div>
