<div class="field">
  <div class="field__container">
    <ng-content select="input"></ng-content>
    <ng-container *ngIf="multiple; else noSetting">
      <div class="field-tag"
        (click)="multiple.showTagList($event)">
        <span class="field-tag__item"
          *ngFor="let item of multiple.tagList; let i = index;">
          {{item.label}}
          <button type="button"
            class="field-tag__close"
            (click)="multiple.deleteTag(i)">x</button>
        </span>
      </div>
    </ng-container>
    <ng-template #noSetting>
      <span class="field__title">{{listItem.label}}</span>
    </ng-template>
    <img class="field__arrow" src="../../../../assets/img/arrow-down.svg" alt="icon-down">
  </div>

  <ul class="field-list">
    <ng-content select="ui-select-item"></ng-content>
  </ul>
</div>
