<div class="field">
  <div class="field__container">
    <ng-content select="input"></ng-content>
    <ng-container *ngIf="isMultiple; else noSetting">
      <ui-select-tags></ui-select-tags>
    </ng-container>
    <ng-template #noSetting>
      <span class="field__title">{{listItem.label}}</span>
    </ng-template>
    <img class="field__arrow" src="../../../../assets/img/arrow-down.svg" alt="icon-down">
  </div>

  <ul class="field-list"
    [ngClass]="{'active': isActiveSelect}">
    <ng-content select="ui-select-item"></ng-content>
  </ul>
</div>
