<form class="form-wallet"
    [formGroup]="walletForm"
    (submit)="addWallet()">
    <div class="container">
      <div class="row form-wallet__head">
        <div class="col d-flex justify-content-between">
          <button class="button"
            type="submit">{{isChange ? 'Изменить' : 'Добавить'}}</button>
          <a class="form-wallet__close"
            [routerLink]="['../']">X</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <lib-field class="input"
            formControlName="name"
            placeholder="Мой счёт"
            label="Название"></lib-field>
          <val-errors controlName="name"></val-errors>
        </div>
        <div class="col-12 form-wallet__select">
          <input-select class="row input"
            formControlName="type"
            placeholder="Выберите из списка"
            label="Вид счёта"
            [list]="data.moneBoxList"
            [templateList]="[other]">
            <div class="col-12 d-none"
              #other>
              <lib-field formControlName="typeOther"
                placeholder="Введите, если нет варианта в списе"
                label="Иное"></lib-field>
            </div>
          </input-select>
          <val-errors controlName="type"></val-errors>
        </div>
        <div class="col-12">
          <lib-field class="input"
            formControlName="price"
            placeholder="1000"
            mask="separator.2"
            maskThousand=" "
            label="Начальная сумма"></lib-field>
          <val-errors controlName="price"></val-errors>
        </div>
        <div class="col-12 form-wallet__select">
          <input-select class="row input"
            formControlName="currency"
            placeholder="Выберите из списка"
            label="Валюта"
            [list]="data.currencyList">
          </input-select>
          <val-errors controlName="currency"></val-errors>
        </div>
      </div>
    </div>
  </form>