<div class="field">
  <div class="field__container field__container_arrow">
    <ng-content select="input"></ng-content>
    <!-- <ng-container *ngIf="isMultiple">
      <ui-select-tags></ui-select-tags>
    </ng-container> -->
  </div>

  <ul
    class="field-list"
    #selectRef
    *ngIf="isShowList | async"
  >
    <li 
      *ngFor="let item of list"
    >
      <button 
        type="button"
        class="field-list__item"
        (click)="selectItem(item)"
        (keypress.enter)="selectItem(item)"
      >
        {{item.label}}
      </button>
    </li>
  </ul>
</div>
