<div class="container">
  <div class="d-flex justify-content-between">
    <a class="wallets__button"
      [routerLink]="['/account']">Профиль</a>
    <a class="wallets__button"
      [routerLink]="['./', 'form']"
      [skipLocationChange]="true">Добавить счёт</a>
  </div>
  <div class="row wallets">
    <ng-container *ngIf="data.walletList.length; else noWallets">
      <div class="wallets__item col-12"
        *ngFor="let item of data.walletList; let i = index">
        <a class="wallets__open"
          [routerLink]="['./', i]">
          <img [src]="item.img" [alt]="'icon' + i">
          <h2 class="wallets__title">{{item.name}}</h2>
          <span class="wallets__price">Текущая сумма {{item.price | thousand}}{{item.currency}}</span>
        </a>
        <button type="button"
          (click)="removeWallet(i)"
          class="wallets__delete">
          <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
        <a class="button" 
          [routerLink]="['./', 'form']"
          [queryParams]="{id: i}">Изменить</a>
      </div>
    </ng-container>
    <ng-template #noWallets>
      <div class="col">
        <p>Счета отсутствуют</p>
      </div>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>