<form class="form-operation"
  [formGroup]="operationForm"
  (submit)="addOperation()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nz-radio-group class="form-operation__type"
          nzButtonStyle="solid"
          formControlName="type">
          <label nz-radio-button
            nzValue="finance">Доходы</label>
          <label nz-radio-button
            nzValue="spending">Расходы</label>
        </nz-radio-group>
      </div>
      <div class="col-12">
        <lib-field formControlName="price"
          placeholder="100"
          mask="separator.2"
          maskThousand=" "
          [maskSuffix]="data.currentWallet.currency"
          label="Сумма"></lib-field>
        <val-errors controlName="price"></val-errors>
      </div>
      <div class="col-12">
        <lib-field formControlName="comment"
          placeholder="Цитирую известного философа"
          mask="c*"
          [patterns]="data.customPatternList[0]"
          label="Описание"></lib-field>
      </div>
      <div class="col-12">
        <input-date-picker formControlName="date"
          [disabledDate]="disableNextDate"
          label="Выберите дату"></input-date-picker>
        <val-errors controlName="date"></val-errors>
      </div>
      <div class="col d-flex justify-content-between">
        <button nz-button
          nzType="default"
          type="submit">Добавить операцию</button>
        <a [routerLink]="['../']">
          <i nz-icon nzType="close" nzTheme="outline"></i>
        </a>
      </div>
    </div>
  </div>
</form>