@import '../../../../assets/styles/variables.less';

.deposit {
  &__title {
    margin-bottom: 20px;
  }
  &-chart {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
    canvas {
      position: relative;
    }
    &__content {
      &_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }
    &__more {
      text-decoration: underline;
      color: @Scream-5-hex;
      &_active {
        color: @Scream-1-hex;
      }
    }
  }
  &__value {
    font-size: 16px;
    &_price {
      color: @Scream-3-hex;
    }
    &_profit {
      color: @Scream-1-hex;
    }
    &_total {
      color: @Scream-5-hex;
    }
  }
}