<form [formGroup]="authForm"
  (submit)="authUser()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Авторизация</h1>
      </div>
      <div class="col-12">
        <lib-field formControlName="login"
          placeholder="loginName"
          mask="S*"
          label="Логин"></lib-field>
        <val-errors controlName="login"></val-errors>
      </div>
      <div class="col-12">
        <input-password formControlName="password"
          placeholder="123"
          label="Пароль"></input-password>
        <val-errors controlName="password"></val-errors>
      </div>
      <div class="col-6">
        <button type="submit"
          nz-button>Войти</button>
      </div>
      <div class="col-6">
        <button type="button"
          nz-button
         (click)="data.needReg = true">Регистрация</button>
      </div>
    </div>
    <p class="input__error" *ngIf="authForm.hasError('invalidLogin')">{{authForm.getError('invalidLogin')}}</p>
  </div>
</form>