<div class="container">
  <div class="row">
    <div class="col">
      <ui-accordion title="Нажми на меня">
        <!-- <img src="https://placekitten.com/300/300" alt="изображение котика"> -->
        <p>
          Котик обыкновенный. Обитает дома.
        </p>
      </ui-accordion>      
    </div>
  </div>
  <form [formGroup]="form">
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <ui-field>
          <input type="text"
            #input
            placeholder="Пример"
            formControlName="fieldSimple"
            uiInputLabel="Название поля"
            uiInputHelp="Подсказка"
            uiInputClear>
        </ui-field>
      </div>
      <div class="col">
        <ui-field>
          <input type="password"
            #input
            formControlName="fieldPassword"
            uiInputPasswd
            uiInputLabel="Пароль">
        </ui-field>
      </div>
      <div class="col-12">
        <ui-slider [rangeMin]="50000"
          [rangeMax]="1400000"
          labelMin="Минимально 50 000"
          labelMax="Максимально 1 400 000">
          <input type="text"
            #input
            mask="separator"
            thousandSeparator=" "
            formControlName="fieldSlider"
            uiInputLabel="Название">
        </ui-slider>
      </div>
      <div class="col-md-6 col-12">
        <ui-select [list]="selectSimpleList">
          <input type="text"
            #input
            formControlName="selectSimple"
            uiInputLabel="Увлечение"
            uiInputHelp="Выберите одно из списка">
        </ui-select>
      </div>
      <div class="col-md-6 col-12">
        <ui-select [list]="selectSimpleList" 
          [isMultiple]="true">
          <input type="text"
            #input
            formControlName="selectMultiple"
            uiInputLabel="Увлечения"
            uiInputHelp="Выберите несколько из списка">
        </ui-select>
      </div>
      <div class="col-md-6 col-12">
        <ui-clock>
          <input type="text"
            #input
            formControlName="clock"
            uiInputLabel="Времечко">
        </ui-clock>
      </div>
    </div>
  </form>
</div>
