.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}
.block {
  border: 1px solid red;
  // height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-in;
  width: 100vw;
  &.active {
    transition: 0.3s ease-in-out;
  }
}
.field {
  position: relative;
  width: 100%;
  &.flashing {
    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    //   width: 1px;
    //   height: 18px;
    //   background: white;
    //   animation: flashingCaret 1s infinite;
    // }
  }
}
.input {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  display: block;
  // border: 1px solid white;
  padding: 10px;
  text-align: center;
  caret-color: white;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}
