<!-- <ui-menu [list]="menuList" uiMenuCentered></ui-menu> -->
<router-outlet></router-outlet>
<!-- <p *ngIf="!isFrame">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque soluta, possimus illo voluptate nesciunt nobis vel maiores quia natus fugit repellendus, reiciendis corporis odio dicta. Ut mollitia nemo dolore aut aperiam. Eligendi minus qui cumque ipsa saepe porro repellat dolorum, ipsam quibusdam doloremque dolorem voluptas nulla neque error iste debitis.
</p> -->
<div class="block" appVisualviewport>
  <h1>Заголовок</h1>
  <input
    type="text"
    class="input"
    inputmode="numeric"
    mask="9{7}"
    suffix=" мин"
  />
  <span>Подвал</span>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et natus accusantium
  amet vel fuga esse impedit perferendis quo aliquam deserunt. Enim maxime
  necessitatibus dolor rem dicta quis doloribus similique excepturi itaque
  quibusdam, explicabo corporis numquam ullam nam suscipit nisi. Ad sunt quae
  magni, ut cumque quaerat doloribus dolore quis? Voluptatibus vero esse nemo,
  consectetur neque ipsa voluptatem provident molestiae consequatur, facilis
  doloribus corporis dignissimos nulla numquam quidem cum a exercitationem
  debitis fugit? Quos, exercitationem repellat molestias fugiat libero
  asperiores? Quis ipsum magni assumenda reiciendis doloribus veniam.
  Aspernatur, aut iste impedit doloribus quidem numquam dolores assumenda
  necessitatibus, sapiente excepturi dolor iure ipsa sed! Neque debitis eaque id
  reprehenderit repellendus, quas quis accusamus necessitatibus deleniti
  pariatur? Nostrum ab earum laudantium minus sunt repellendus assumenda
  expedita quaerat eum placeat ipsa nobis, praesentium consectetur vitae quos
  autem, voluptatibus nulla eligendi aliquam corrupti quis id beatae. Fugit
  libero magnam doloribus animi saepe error sequi atque.
</div>
