<!-- <ui-menu [list]="menuList" uiMenuCentered></ui-menu> -->
<router-outlet></router-outlet>
<!-- <p *ngIf="!isFrame">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque soluta, possimus illo voluptate nesciunt nobis vel maiores quia natus fugit repellendus, reiciendis corporis odio dicta. Ut mollitia nemo dolore aut aperiam. Eligendi minus qui cumque ipsa saepe porro repellat dolorum, ipsam quibusdam doloremque dolorem voluptas nulla neque error iste debitis.
</p> -->
<div class="wrapper">
  <form class="block" appVisualviewport [formGroup]="form">
    <h1>Заголовок</h1>
    <!-- <div class="field flashing"> -->
    <!-- <input
      formControlName="minutes"
      type="text"
      class="input"
      inputmode="numeric"
      mask="0{6}"
      suffix=" мин"
      placeholder="0 мин"
      readonly
      (focus)="fieldFocused()"
    /> -->
    <!-- </div> -->
    <app-minutes-field
      formControlName="minutes"
      (click)="fieldClicked()"
    ></app-minutes-field>
    <button type="button" (click)="fieldBlured()">
      Подвал {{ form.valid ? "корректно" : "ошибка" }}
    </button>
  </form>
  <app-virtual-keyboard
    *ngIf="isVisibleKeyboard | async"
    @toggleVirtualKeyboard
    (pressedKey)="updateFiled($event)"
  ></app-virtual-keyboard>
</div>
