<div class="field">
  <div class="field__container">
    <ng-content select="input"></ng-content>
  </div>

  <div class="field-calendar"
    [ngClass]="{'active': dropdown.activeFlag$ | async}">
    <ui-date-header [date]="mainDate"
      (onChange)="renderDays()"></ui-date-header>
    <ui-date-body
      [dayNameList]="localeData.dayName[locale]"
      [dayList]="dayList"
      (onChangeDay)="changeDay($event)"></ui-date-body>
    <ui-date-footer
      [currentDayName]="localeData.currentDayName[locale]"
      (onChange)="setToday()"></ui-date-footer>
  </div>
</div>
