<form [formGroup]="regForm"
  (submit)="addUser()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Регистрация пользователя</h1>
      </div>
      <div class="col-12">
        <input-autocomplete formControlName="firstName"
          placeholder="Иван"
          label="Имя"
          [reqLink]="reqLinkList.firstName"></input-autocomplete>
        <val-errors controlName="firstName"></val-errors>
      </div>
      <div class="col-12">
        <input-autocomplete formControlName="lastName"
          placeholder="Иванов"
          label="Фамилия"
          [reqLink]="reqLinkList.lastName"></input-autocomplete>
        <val-errors controlName="lastName"></val-errors>
      </div>
      <div class="col-12">
        <input-autocomplete formControlName="patronymic"
          placeholder="Иванович"
          label="Отчество"
          [reqLink]="reqLinkList.patronymic"></input-autocomplete>
        <val-errors controlName="patronymic"></val-errors>
      </div>
      <div class="col-12">
        <label>Пол</label>
        <nz-radio-group
          nzButtonStyle="solid"
          formControlName="gender">
          <label nz-radio-button
            nzValue="man">Мужчина</label>
          <label nz-radio-button
            nzValue="woman">Женщина</label>
        </nz-radio-group>
      </div>
      <div class="col-12">
        <lib-field formControlName="login"
          placeholder="loginName"
          mask="S*"
          label="Придумайте логин"></lib-field>
        <val-errors controlName="login"></val-errors>
      </div>
      <div class="col-12">
        <input-password formControlName="password"
          placeholder="123"
          label="Пароль"></input-password>
        <val-errors controlName="password">
          <ng-template valError="incorrectPassword" let-error="error">{{error}}</ng-template>
        </val-errors>
      </div>
      <div class="col-6">
        <button type="submit"
          class="button">Зарегестрироваться</button>
      </div>
      <div class="col-6">
        <button type="button"
          class="button"
         (click)="data.needReg = false">Авторизоваться</button>
      </div>
    </div>
  </div>
</form>