<div class="keyboard">
  <div
    class="keyboard__row"
    *ngFor="let row of keys"
    [class.keyboard__row--last]="row.length < 3"
  >
    <ng-container *ngFor="let key of row">
      <button
        class="keyboard__key"
        *ngIf="key.action !== 'backspace'; else backspaceKey"
        (click)="pressedKey.emit(key)"
      >
        {{ key.value }}
      </button>
      <ng-template #backspaceKey>
        <button class="keyboard__key" (click)="pressedKey.emit(key)">
          delete
        </button>
      </ng-template>
    </ng-container>
  </div>
</div>
