:host {
  display: block;
  width: 100%;
}
.minutes {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 52px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  &__input {
    width: 0;
    height: 0;
    color: transparent;
    caret-color: transparent;
  }
  &__value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 44px;
    line-height: 44px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  &__cursor {
    align-self: center;
    display: inline-block;
    background: white;
    height: 32px;
    width: 2px;
    border-radius: 10px;
    margin-right: 6px;
    animation: flashingField 1.5s infinite;
  }
  &__suffix {
    color: red;
    font-size: 32px;
    line-height: 36px;
  }
}

@keyframes flashingField {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
