:host {
  display: block;
  width: 100%;
}
.minutes-field {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 52px;
  &__input {
    // width: 0;
    height: 0;
    // color: transparent;
    // caret-color: transparent;
    // opacity: 0;
  }
}
.minutes-field-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 44px;
  line-height: 44px;
  padding-top: 4px;
  padding-bottom: 4px;
  pointer-events: none;
  &__cursor {
    display: inline-block;
    align-self: center;
    background: white;
    height: 32px;
    width: 2px;
    border-radius: 10px;
    margin-right: 6px;
    visibility: hidden;
    &_flashing {
      visibility: visible;
      animation: flashingField 1.5s infinite;
    }
  }
  &__suffix {
    color: red;
    font-size: 32px;
    line-height: 36px;
  }
}

@keyframes flashingField {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
