@font-face {
  font-family: 'DatcubLight';
  src: url('../../assets/fonts/DatCub/DatcubLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Datcub';
  src: url('../../assets/fonts/DatCub/Datcub.ttf') format('truetype');
}
@font-face {
  font-family: 'DatcubBold';
  src: url('../../assets/fonts/DatCub/DatcubBold.ttf') format('truetype');
}