<form [formGroup]="depositForm">
  <div class="container">
    <div class="row"
      formGroupName="startData">
      <div class="col-12">
        <lib-field class="input" 
          formControlName="price"
          placeholder="100000"
          label="Сумма"
          mask="0*"></lib-field>
        <val-errors controlName="price"></val-errors>
      </div>
      <div class="col">
        <lib-field class="input" 
          formControlName="percent"
          placeholder="8"
          label="Процентная ставка"
          mask="separator.2"
          maskThousand=" "></lib-field>
        <val-errors controlName="percent"></val-errors>
      </div>
      <div class="col">
        <lib-field class="input"
          formControlName="period"
          placeholder="8"
          label="Количество дней"
          mask="0*"></lib-field>
        <val-errors controlName="period"></val-errors>
      </div>
    </div>
    <input-additional class="row align-items-center"
      formGroupName="capitalization"
      (onResetControls)="resetControls($event, 'capitalization')">
      <div class="col-6">
        <input-select class="row input"
          formControlName="periodicity"
          placeholder="Выберите из списка"
          label="Периодичность"
          [list]="data.depositPeriodicity"></input-select>
        <val-errors controlName="periodicity"></val-errors>
      </div>
    </input-additional>
  </div>
</form>