@import '../../../assets/styles/variables.less';

.menu {
  width: 100%;
  background: @Scream-3-hex;
  padding: 10px 15px;
  font-size: 0;
  &__open {
    width: 30px;
    height: 30px;
    background: @Scream-1-hex;
    position: relative;
    z-index: 1;
  }
  &__drop {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100%;
    background: @Scream-3-hex;
    padding-top: 10px;
    z-index: 1;
    font-size: 16px;
    &_active {
      opacity: 1;
      visibility: visible;
    }
  }
  &-list {
    &__item {
      padding: 10px;
      border: 1px solid @Scream-5-hex;
      display: block;
      &_active {
        background: @Scream-1-hex;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}